@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-wrap: normal;
}

body,
#root,
.App {
  display: flex;
  flex-flow: column;
}

footer {
  margin-top: auto;
}